@font-face {
  font-family: "Silkscreen Regular";
  src: url("./assets/fonts/silkscreen/slkscr.ttf") format("truetype");
}

* {
  font-family: "Silkscreen Regular";
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
}

.overlapping {
  position: absolute;
  top: 0;
  left: 0;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.dark {
  background-color: #000;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.start-button {
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

#score {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

#lives {
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 10px;
  font-size: 30px;
}

#game-mobile-overlay {
  display: none;
  z-index: 100;
  pointer-events: none;
}

#game-mobile-overlay button {
  font-size: 20px;
  border: none;
  background-color: transparent;
}

#left,
#right,
#fire,
#forward {
  pointer-events: all;
  cursor: pointer;
  transform: rotate(90deg);
}

#left {
  position: absolute;
  top: 5%;
  left: 10%;
}
#right {
  position: absolute;
  top: 15%;
  left: 10%;
}
#forward {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
#fire {
  position: absolute;
  bottom: 5%;
  left: 25%;
}
@media (max-width: 600px) {
  #game-mobile-overlay {
    display: block;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 15px;
  }

  .start-button {
    font-size: 15px;
  }

  #score {
    font-size: 20px;
  }
}
