@font-face {
  font-family: "Silkscreen Regular";
  src: url("./assets/fonts/silkscreen/slkscr.ttf") format("truetype");
}

* {
  font-family: "Silkscreen Regular";
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
}

.overlapping {
  position: absolute;
  top: 0;
  left: 0;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.dark {
  background-image: url(./assets/image/background.png);
  background-repeat: repeat;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxed {
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 5px;
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.start-button {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

.start-button:hover {
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
  color: #000;
}

#back {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

#back:hover {
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
  color: #000;
}

.sound {
  position: absolute;
  top: 90%;
  right: 5%;
  cursor: pointer;
}

.info {
  position: absolute;
  top: 90%;
  right: 90%;
  cursor: pointer;
}

.circle {
  font-family: "Courier New", Courier, monospace;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: #fff 1px solid;
  border-radius: 50%;
}

#score {
  position: absolute;
  text-wrap: nowrap;
  z-index: 100;
  top: 5%;
  right: 10%;
  font-size: 30px;
}

#lives {
  position: absolute;
  text-wrap: nowrap;
  z-index: 100;
  top: 5%;
  right: 80%;
  font-size: 30px;
}

#game-mobile-overlay {
  display: none;
  z-index: 100;
  pointer-events: none;
}

button {
  font-size: 20px;
  border: none;
  background-color: transparent;
}

#left,
#right,
#fire,
#forward {
  pointer-events: all;
  cursor: pointer;
  transform: rotate(90deg);
  user-select: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

#left {
  position: absolute;
  top: 5%;
  left: 10%;
}
#right {
  position: absolute;
  top: 15%;
  left: 10%;
}
#forward {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
#fire {
  position: absolute;
  bottom: 5%;
  left: 25%;
}
@media (max-width: 600px) {
  #game-mobile-overlay {
    display: block;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 15px;
  }

  .start-button {
    font-size: 15px;
  }

  #score {
    transform: rotate(90deg);
    font-size: 20px;
    top: 90%;
    right: 10px;
  }

  #lives {
    transform: rotate(90deg);
    font-size: 20px;
    top: 10%;
    right: 10px;
  }
}
